@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf")
    format("truetype");
}

* {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1 {
  font-size: 61px;
  font-weight: 700;
  margin: 0;
}

h2 {
  font-size: 27px;
  font-weight: 700;
  margin-top: 0;
}

h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0;
}

p {
  margin-top: 0;
}

li {
  margin-left: 8px;
}

button {
  background: transparent;
  border: none;
}

button:hover {
  cursor: pointer;
}

.legals-padding {
  padding: 110px 40px 40px 96px;
}

.container {
  display: flex;
  margin: 0 auto;
  max-width: 1440px;
  height: 1024px;
}

.menu-content {
  background-color: #2a3647;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 64px 0;
  line-height: 19.2px;
  height: 100%;
}

.menu-buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.menu-buttons a {
  color: #cdcdcd;
  display: inline-flex;
  text-decoration: none;
  gap: 8px;
  align-items: center;
  padding: 8px 56px;
}

.menu-hover:hover {
  background-color: #3c4e67;
}

.menu-buttons a img {
  height: 30px;
  width: 30px;
}

.menu-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 4px;
  height: 317px;
}

.menu-links a {
  text-decoration: none;
  color: #a8a8a8;
  padding: 8px 60px;
}

.legals-hover {
  transition: transform 0.3s;
}

.legals-hover:hover {
  color: #29abe2;
  transform: scale(1.1);
}

.highlight-menu-links-as-active {
  color: white !important;
  background-color: #091931;
}

.highlight-legals-links-as-active {
  background-color: #091931;
}

.highlight-contact-links-as-active {
  background-color: #2A3647;
  color: white;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 10;
  font-size: 20px;
  font-weight: 400;
}

.header-content {
  height: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 40px 0px 96px;
  font-size: 20px;
  font-weight: 400;
}

.help-icon {
  width: 32px;
  height: 32px;
  transition: transform 0.3s;
}

.help-icon:hover {
  transform: scale(1.1);
}

.main {
  background-color: #f6f7f8;
  height: calc(100% - 56px);
  overflow-x: hidden;
}

.contact-main {
  display: flex;
}

main a {
  text-decoration: none;
  color: #29abe2;
}

/* contacts style */
.contact{
  cursor: pointer;
  display: flex;
  gap: 25px;
  padding: 15px 24px;
  border-radius: 10px;
}

.contact-hover:hover {
  background-color: #e8e8e889;
}

.contacts-name{
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.contacts-email{
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
}

.contact-name-email{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.contacts-list{
  background-color: white;
  width: 456px;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alphabet-list-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 24px;
}

.letter{
  width: 352px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  padding: 17px 36px;
}

.seperation-line-container{
  padding: 8px 0;
  
}

.seperation-line{
  border: 1px solid rgba(209, 209, 209, 1);
  border-radius: 3px;
}

.add-contact-button{
  background: rgba(42, 54, 71, 1);
  color: white;
  padding: 12px 0;
  border: 1px solid rgba(42, 54, 71, 1);
  border-radius: 10px;
  width: 352px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-size: 21px;
  font-weight: 700;
  line-height: 25.2px;
  margin: 22.5px 0;
  cursor: pointer;
}

.contacts-info{
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 52px;
}

.contacts-header-wrap{
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 110px;
  margin-bottom: 32px;
}

.contacts-header{
  font-size: 61px;
  font-weight: 700;
  line-height: 73.2px;
}

.contacts-seperation-border{
  border: 3px solid rgba(41, 171, 226, 1);
  height: 59px;
}

.contacts-motto{
  font-size: 27px;
  font-weight: 400;
  line-height: 32.4px;
  color: rgba(42, 54, 71, 1);
}

.user-info-container{
  display: flex;
  flex-direction: column;
  gap: 21px;
  justify-content: flex-start;
}

.user-info-inits{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  /* background-color: orange; */
  font-size: 47px;
  font-weight: 500;
  line-height: 56.4px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.user-info-name-container{
  display: flex;
  gap: 54px;
}

.user-info-name{
  font-size: 47px;
  font-weight: 500;
  line-height: 56.4px;
}

.user-info-name-edit{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.edit-and-delete{
  display: flex;
}

.user-info-edit-delete{
  display: flex;
  gap: 16px;
  color: rgba(42, 54, 71, 1);

}

.user-info-edit{
  display: flex;
  align-items: center;
  gap: 13px;
}

.user-info-delete{
  display: flex;
  align-items: center;
  gap: 8px;
}

.user-info-edit:hover,
.user-info-delete:hover{
  cursor: pointer;
  color: rgba(41, 171, 226, 1);
  font-weight: 1000;
}

.contacts-info-text{
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin: 25px 0;
  margin-right: 9px;
}

.contacts-info-email-phone{
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.contacts-info-email-phone>div{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contacts-info-email,
.contacts-info-phone{
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
}

.contacts-info-email-text,
.contacts-info-phone-text{
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
}


/* end contacts style */

.legals-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.legals-header img {
  height: 37px;
  width: 37px;

  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.legals-header img:hover {
  background-color: lightgray;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
}

.title h1 {
  font-size: 61px;
  font-family: "Inter";
  font-weight: 700;
  line-height: 73.2px;
}

.help-text {
  font-size: 27px;
  line-height: 32.4px;
  font-family: "Inter";
  font-weight: 700;
}

.help-text p {
  font-size: 16px;
  font-family: "Inter";
  font-weight: 400;
  line-height: 19.2px;
  gap: 16px;
}

.structure {
  display: flex;
  justify-content: center;
  gap: 35px;
}

.structure-number {
  font-size: 27px;
  line-height: 32.4px;
  font-family: "Inter";
}

.structure-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  font-family: "Inter";
}

.structure-text {
  font-size: 16px;
  font-weight: 400;
  font-family: "Inter";
  line-height: 19.2px;
}

.end-text {
  font-size: 27px;
  font-weight: 700;
  font-family: "Inter";
  line-height: 32.4px;
  padding-top: 20px;
}

.initials{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  width: 42px;
  height: 42px;
  border-radius: 45px;
  border: 2px solid white;
  color: white;
}

.d-non{
  display: none;
}
.container-contact {
  position: fixed;
}

.content-add-contact {
  width: 467px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.right-main {
  width: 1212px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.add-contact-aside-img {
  width: 55.6px;
  height: 66.48px;
  position: fixed;
  left: 3rem;
  top: 11rem;
}

aside h2 {
  font-size: 61px;
  font-weight: 700;
  line-height: 73.2px;
  top: 16.2rem;
  position: fixed;
  left: 3rem;
  color: #FFFFFF;
}

aside p {
  font-size: 27px;
  font-family: "Inter";
  font-weight: 300;
  line-height: 32.4px;
  color: #FFFFFF;
  top: 21.2rem;
  position: fixed;
  left: 3rem;
}