@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf")
    format("truetype");
}

* {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1 {
  font-size: 61px;
  font-weight: 700;
  margin: 0;
}

h2 {
  font-size: 27px;
  font-weight: 700;
  margin-top: 0;
}

h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0;
}

p {
  margin-top: 0;
}

li {
  margin-left: 8px;
}

button {
  background: transparent;
  border: none;
}

button:hover {
  cursor: pointer;
}

.container {
  display: flex;
  margin: 0 auto;
  max-width: 1440px;
  height: 100vh;
}

.menu-content {
  background-color: #2a3647;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 64px 0;
  line-height: 19.2px;
  height: 100%;
}

.menu-buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.menu-buttons a {
  color: #cdcdcd;
  display: inline-flex;
  text-decoration: none;
  gap: 8px;
  align-items: center;
  padding: 8px 56px;
}

.menu-hover:hover {
  background-color: #3c4e67;
}

.menu-buttons a img {
  height: 30px;
  width: 30px;
}

.menu-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 4px;
  height: 317px;
}

.menu-links a {
  text-decoration: none;
  color: #a8a8a8;
  padding: 8px 60px;
}

.legals-hover {
  transition: transform 0.3s;
}

.legals-hover:hover {
  color: #29abe2;
  transform: scale(1.1);
}

.highlight-menu-links-as-active {
  color: white !important;
  background-color: #091931;
}

.highlight-legals-links-as-active {
  background-color: #091931;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 10;
  font-size: 20px;
  font-weight: 400;
}

.header-content {
  height: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 40px 0px 96px;
  font-size: 20px;
  font-weight: 400;
}

.help-icon {
  width: 32px;
  height: 32px;
  transition: transform 0.3s;
}

.help-icon:hover {
  transform: scale(1.1);
}

.main {
  background-color: #f6f7f8;
  height: calc(100% - 56px);
  
  overflow-x: hidden;
  display: flex;
}

main a {
  text-decoration: none;
  color: #29abe2;
}

/* contacts style */
.contact{
  display: flex;
  gap: 25px;
  padding: 15px 24px;
}

.contacts-list{
  background-color: beige;
  width: 456px;
  height: 100%;
  overflow-y: auto;
  
}

.alphabet-list-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 24px;
  margin-left: 28px;
}

.letter{
  width: 352px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  padding: 17px 36px;
}
/* end contacts style */

.legals-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.legals-header img {
  height: 37px;
  width: 37px;

  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.legals-header img:hover {
  background-color: lightgray;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
}

.title h1 {
  font-size: 61px;
  font-family: "Inter";
  font-weight: 700;
  line-height: 73.2px;
}

.help-text {
  font-size: 27px;
  line-height: 32.4px;
  font-family: "Inter";
  font-weight: 700;
}

.help-text p {
  font-size: 16px;
  font-family: "Inter";
  font-weight: 400;
  line-height: 19.2px;
  gap: 16px;
}

.structure {
  display: flex;
  justify-content: center;
  gap: 35px;
}

.structure-number {
  font-size: 27px;
  line-height: 32.4px;
  font-family: "Inter";
}

.structure-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  font-family: "Inter";
}

.structure-text {
  font-size: 16px;
  font-weight: 400;
  font-family: "Inter";
  line-height: 19.2px;
}

.end-text {
  font-size: 27px;
  font-weight: 700;
  font-family: "Inter";
  line-height: 32.4px;
  padding-top: 20px;
}

.initials{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  width: 42px;
  height: 42px;
  border-radius: 45px;
  border: 2px solid white;
  color: white;
}

.d-non{
  display: none;
}