<!-- execute function when open the dialog / delete button -->

<div id="dialogEditContact" class="overlay">
  <div class="contact-dialog">
    <div class="contact-dialog-side-header">
      <img
        class="contact-dialog-logo"
        src="../assets/img/join-logo.svg"
        alt="Join Logo"
      />
      <h1 class="contact-dialog-title">Edit contact</h1>
      <img
        class="contact-dialog-vector"
        src="../assets/img/edit-contact-vector.svg"
        alt=""
      />
    </div>

    <div class="contact-dialog-content">
      <div id="contact-dialog-user-image" class="contact-img">
        
      </div>
      <div class="contact-dialog-form-wrapper">
        <div class="close-button-container">
          <button
            onclick="toggleDisplayNone('dialogEditContact')"
            class="close-button"
          >
            <img src="../assets/img/close-button.svg" alt="" />
          </button>
        </div>
        <form
          onsubmit="saveEditedContacts(event, 0)"
          class="contact-dialog-form"
        >
          <div class="input-group">
            <input id="inputEditName" type="text" placeholder="Name" required />
            <img
              class="input-icon"
              src="../assets/img/person-form-icon.svg"
              alt=""
            />
          </div>
          <div class="input-group">
            <input
              id="inputEditMail"
              type="email"
              placeholder="E-Mail"
              required
            />
            <img
              class="input-icon"
              src="../assets/img/mail-form-icon.svg"
              alt=""
            />
          </div>
          <div class="input-group">
            <input
              id="inputEditPhone"
              type="tel"
              placeholder="Phone"
              required
            />
            <img
              class="input-icon"
              src="../assets/img/phone-form-icon.svg"
              alt=""
            />
          </div>
          <div class="contact-dialog-form-buttons">
            <button type="button" class="btn delete">Delete</button>
            <button type="submit" class="btn save">Save ✓</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
