<div>
  <img src="../assets/img/join-logo.svg" alt="" />
</div>
<div class="menu-buttons">
  <button><img src="../assets/img/summary-icon.svg" alt="" />Summary</button>
  <button><img src="../assets/img/addTask-icon.svg" alt="" />Add Task</button>
  <button><img src="../assets/img/board-icon.svg" alt="" />Board</button>
  <button><img src="../assets/img/contacts-icon.svg" alt="" />Contacts</button>
</div>
<div class="menu-links">
  <a href="">Privacy Policy</a>
  <a href="">Legal Notice</a>
</div>
