.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.contact-dialog {
  position: relative;
  width: 84%;
  max-width: 1212px;
  height: 592px;
  border-radius: 30px;
  background-color: #ffffff;
  display: flex;
  overflow: hidden;
}

.contact-dialog-side-header {
  background-color: #2a3647;
  width: 37%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 66px 46px;
}

.contact-dialog-logo {
  width: 54px;
  margin-bottom: 12px;
}

.contact-dialog-title {
  color: white;
  margin: 16px 0;
}

.contact-dialog-vector {
    margin-bottom: 75px;
}

.contact-dialog-content {
  width: 63%;
  padding: 40px 40px 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-img {
  width: 40%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-dialog-form-wrapper {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.close-button-container {
  display: flex;
  justify-content: flex-end;
}

.close-button {
  width: 32px;
  height: 32px;

  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.close-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.contact-dialog-form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 80px;
}

.input-group {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  width: 100%;
  padding: 12px 40px 12px 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
}

.input-icon {
  position: absolute;
  right: 12px;
  width: 24px;
  height: 24px;
}

.contact-dialog-form-buttons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.delete {
  background-color: #ffffff;
  color: #333;
  border: 1px solid black;
}

.delete:hover {
  color: #29abe2;
  border: 1px solid #29abe2;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

.save {
  background-color: #2a3647;
  color: white;
}

.save:hover {
  background-color: #29abe2;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}