@media(max-width: 800px){
    .container{
        flex-direction: column-reverse;
        height: initial
    }

    .user-circle{
        height: 40px;
        width: 40px;
    }

    .main-content{
        height: calc(100vh - 80px);
        flex: initial;
    }

    body{
        height: 100vh;
    }

    .menu-content{
        height: 80px !important;
        width: 100% !important;
        padding: 0 16px !important;
        justify-content: center !important;
    }

    .menu-buttons{
        flex-direction: row !important;
        gap: 0 !important;
        justify-content: space-around;
        height: 80px;
    }

    .menu-buttons a{
        border-radius: 16px;
        padding: 8px 1px !important;
        flex-direction: column;
        gap: 10px !important;
        width: 80px !important;
    }

    .header-header {
        display: none;
    }

    .header-logo{
        display: block !important;
        height: 40px;
    }

    .header-content{
        margin: 0 !important;
        padding: 20px 16px;
        height: auto;
    }

    #menu-logo{
        display: none;
    }

    #menuLinks{
        display: none;
    }

    .help-icon {
        display: none;
    }

    .help-main {
        padding: 18px;
    }

    .user-menu-help {
        display: flex;
    }

    .user-menu {
        height: 205px;
        right: 0;
    }

    .padding-add-task{
        padding: 80px 0 0 0;
    }

    .add-contact-button > div:first-child{
        display: none;
    }

    .add-contact-button{
        border: 1px solid #2A3647;
        border-radius: 46px;
        margin: 0;
        position: absolute;
        height: auto;
        width:  auto;
        padding: 12px;
        bottom: 8px;
        right: 16px;
    }

    .add-contact-button > div{
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contact-list{
        position: relative;
    }

    .overlay{
        top: calc(0% + 80px);
        height: calc(100vh - 160px);
        
    }

    .contact-dialog{
        height: 100% !important;
        width: 95%;
    }

    .contact-img-profil{
        position: absolute;
        top: 50% !important;
        left: calc(50% - 60px) !important;
        z-index: 1;
    }

    .input-group{
        height: 41px;
    }

    .contact-side{
        height: 300px;
    }

    .btn-cancel{
        display: none;
    }

    .alphabet-list-container{
        margin-top: 32px;
    }

    .main{
        height: initial;
    }

}

@media(max-width: 1350px){
    .seperation-line-task{
        display: none !important;
    }

    .add-task-forms{
        justify-content: initial;
        gap:15px;
    }
}

@media(max-width: 1300px){
    .add-task-forms{
        flex-direction: column;
    }

    .form-submit{
        justify-content: initial;
        gap: 15px;
    }

    .add-task-form-container{
        align-items: center;
        width: initial;
    }

    .form-add-task{
        align-items: center;
    }
    

    .container{
        /* max-width: 850px; */
    }
}

@media(max-width: 1250px){
    .contacts-header-wrap{
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        position: relative;
    }

    .contacts-seperation-border{
        width: 90px;
        height: auto;
        order: 3;
    }

    .contacts-header{
        order: 1;
    }

    .contacts-motto{
        order: 2;
    }

    .user-info-name-container{
        flex-direction: column;
        gap: 8px;
    }

    .contacts-info{
        margin: 0;
        padding: 0 0 0 16px;
    }
}

@media(max-width: 1050px){
    .contact-dialog{
        display: flex;
        flex-direction: column;
        height: 90%;
        overflow-y: auto;
    }

    .contact-side{
        width: 100%;
        height: 351px;
        padding: 66px 24px;
    }

    .close-button > img{
        filter: invert(1);
    }

    .contact-img-profil{
        position: absolute;
        top: 45%;
        left: calc(50% - 60px);
        z-index: 1;
    }

    .contact-content{
        margin: 0 auto;
        margin-top: 90px;
    }

    .contact-form{
        gap: 15px;
    }

    .btn-create{
        margin-bottom: 45px;
    }
}

@media(max-width: 1000px){
    .reminder{
        display: none;
    }

    .arrow-left-contacts{
        display: block;
    }

    .contacts-info{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 21;
        background-color: white;
        transform: translateX(100%);
    }

    .contact-main{
        justify-content: center;
        position: relative;
    }

}

@media(max-width: 500px){
    input{
        width: 396px !important;
    }

    textarea{
        width: 396px !important;
    }

    .add-task-form{
        width: 396px !important;
    }

    .first-form {
        width: 396px;
    }

    .first-form > div {
        width: 100%;
    }

    .second-form{
        width: 396px;
    }

    .second-form > div{
        width: 100%;
    }

    .arrow-left-contacts{
        right: 0;
    }

    .contact-list{
        width: auto;
    }

    .contact-side{
        width: 100%;
    }

    .legals-padding{
        padding: 48px 16px;
    }
}